*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/7cDoyzS.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 2vh 2vh;
    margin-top: 5vh;
}

header input {
    width: 100%;
    max-width: 30%;
    padding: 15px 15px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    height: 5vh;
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.6);
    color: #FFF;
    font-size: 35px;
    transition: 0.2s ease-out;
    margin-bottom: 0;
}

header input:focus {
    background-color: rgba(0,0,0, 0.7);
    height: 7vh;
    margin-bottom: 1%;
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #FFF;
    font-size: 300%;
    margin-bottom: 5px;
}

.location .date {
    color: #FFF;
    font-size: 170%;
}

.current .temp {
    color: #FFF;
    font-size: 700%;
    margin: 30px 0px 0px;
    text-shadow: 5px 6px rgba(225, 225, 225, 0.4);
}

.current .weather {
    color: #FFF;
    font-size: 400%;
    padding: 0;
}

.ting{
    background: rgba(0,0,0, 0.6);
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    font-style: italic;
    margin-top: 0;
}

.current .hi-low {
    color: #FFF;
    font-size: 180%;
    margin-top: 10%;
    margin-bottom: 0;
}
